body {
  background-color: rgb(16, 16, 16);
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-auto-rows: 160px;
  gap: 15px;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 80vh;
}

.card-div {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 2s all ease;
  height: 100%;
  position: relative;
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
  background-color: white;
  width: 100%;
  transition: 0.5s all ease;
  transition-delay: 0.5s;
  height: 100%;
}

.back {
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: purple;
  transform: rotateY(90deg);
  background-size: cover;
  pointer-events: none;
  width: 100%;
  transition: 0.5s all ease;
  height: 100%;
}

.back.flipped {
  transform: rotateY(0deg);
  transition-delay: 0.5s;
}

.front.flipped {
  transition-delay: 0s;
  transform: rotateY(90deg);
}

button {
  padding: 13px 30px;
  width: 90%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.575);
  color: white;
  border: 2px solid white;
  max-width: 200px;
  margin: 40px auto;
  display: block;
}
